body{
  overflow-x: hidden;
}
#header {
  position: fixed;
  width: 100%;
  height: 180px;
  z-index: 999;
  background-color: #000;
  opacity: 0.9;
  box-sizing:border-box;
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 80%;
}
#header h1 {
  text-align: center;
}
.navigation{
  width: 75%;
  margin: 0 auto;
}
.navigation li {
  display: inline-block;
  margin-top: 50px;
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'regular', sans-serif;
  font-size: 18px;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
  color: #fff;
}
.banner {
  background-image: url(../img/visual.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 1000px;
}
.cont_wrap{
  width: 100%;
}

.cont1_wrap li{
  width: 100%;
}
.cont1{
  margin: 0 auto;
  width: 80%;
  height: 1200px;
  padding-top: 110px;
  padding-bottom: 50px;
}
.cont1 a{
  cursor: default;
}
.box_tx1{
  width: 30%;
  height: 270px;
  text-align: center;
  margin-right: 70px;
  margin-top: 140px;
  float: right;
}
.box_tx2{
  width: 30%;
  height: 370px;
  text-align: center;
  margin-right: 70px;
  margin-left: 50px;
  margin-top: 90px;
  float: left;
}
.box_tx1 h2,.box_tx2 h2{
  font-size: 35px;
  font-family: 'bold', sans-serif;
}
.box2{
  padding-top: 50px;
}

.box_tx1 p,.box_tx2 p{
  font-size: 20px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'medium', sans-serif;
}
.box_tx1 a,.box_tx2 a{
  margin: 0 auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border: solid 1px #000;
  display: block;
}
.box_tx1 a:hover{
  background-color: #222;
  transition: 0.5s;
  color: #c9c9c9;
}
.box_tx2 a:hover{
  background-color: #222;
  transition: 0.5s;
  color: #c9c9c9;
}
.cont2{
  width: 100%;
  height: 500px;
  background-color: #ececec;
}
.cont2_wrap{
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding-top: 100px;
}
.cont2_wrap a{
  float: left;
  width: 25%;
  height: 300px;
  text-align: center;
  font-size: 16px;
}
.cont2 span{
  display: block;
  padding-top: 30px;
}
.cont2 a:hover{
  text-decoration: underline;
}
.cont3{
  width: 90%;
  height: 800px;
  margin: 0 auto;
  padding-top: 150px;
}
.cont3 a{
  cursor: default;
}
.cont3 li{
  float: left;
  padding-left: 95px;
}
#ft{
  clear: both;
  width: 100%;
  background-image: url("../img/ftimg.png");
  background-size: cover;
  min-height: 950px;
  background-repeat: no-repeat;
  position: relative;
}
.ft_wrap{
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: #000;
  opacity: 0.7;
  padding-top: 40px;
  padding-left: 60px;
  bottom: 0px;
}
.ft_wrap p{
  color: #fff;
  opacity: 1;
  font-family: 'medium', sans-serif;
  line-height: 25px;
  font-size: 14px;
}
