body{
  overflow-x: hidden;
}
#header {
  position: fixed;
  width: 100%;
  height: 180px;
  z-index: 999;
  background-color: #000;
  opacity: 0.9;
  box-sizing:border-box;
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 80%;
}
#header h1 {
  text-align: center;
}
.navigation{
  width: 75%;
  margin: 0 auto;
}
.navigation li {
  display: inline-block;
  margin-top: 50px;
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'regular';
  font-size: 18px;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
  color: #fff;
}
#container{
  width: 100%;
  height: 700px;
  padding-top: 200px;
  background-color: #f1f1f1;
}
.text{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.text h1{
  font-family: 'bold';
  font-size: 45px;
}
.text p{
  font-family: 'medium';
  font-size: 20px;
  padding-top: 20px;
}
.blank{
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 80px;
}
input[type=text], select {
  width: 460px;
  padding: 20px 20px;
  margin: 10px 5px 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.btn{
  width: 130px;
  display: block;
  margin: 0 auto;
  background-color: #ddd;
  padding: 15px 60px;
  text-align: center;
  font-family: 'bold';
  font-size: 18px;
  color: #fff;
}
.btn:hover{
  background-color: #222;
  transition: 0.6s;
}
#ft{
  clear: both;
  width: 100%;
}
.ft_wrap{
  width: 100%;
  height: 140px;
  background-color: #000;
  opacity: 0.7;
  padding-top: 40px;
  padding-left: 60px;
}
.ft_wrap p{
  color: #fff;
  opacity: none;
  font-family: 'medium';
  line-height: 25px;
  font-size: 14px;
}
