body{
  overflow-x: hidden;
}
#header {
  position: fixed;
  width: 100%;
  height: 180px;
  z-index: 999;
  background-color: #000;
  opacity: 0.9;
  box-sizing:border-box;
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 80%;
}
#header h1 {
  text-align: center;
}
.navigation{
  width: 75%;
  margin: 0 auto;
}
.navigation li {
  display: inline-block;
  margin-top: 50px;
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'regular';
  font-size: 18px;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
  color: #fff;
}
.banner {
  background-image: url(../img/museum.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.cont_wrap{
  width: 100%;
  padding-top: 1000px;
}
.cont1{
  background-image: url(../img/text.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px auto;
  width: 80%;
  height: 500px;
  margin: 0 auto;
}
.cont2{
  width: 65%;
  height: 500px;
  margin: 0 auto;
}
.yves{
  width: 500px;
  padding-right: 50px;
  height: auto;
}
.cont2 img{
  float: left;
}
.text1{
  width: 680px;
  height: auto;
  padding-top: 30px;
}
.hideme{
  opacity:0;
  margin-top:-100px;
  max-width:100%;
}
.cont3,.cont4{
  width: 60%;
  padding-top: 250px;
  margin: 0 auto;
}
.text2{
  padding-top: 40px;
}
.text3{
  padding-top: 40px;
  padding-bottom: 250px;
}
#ft{
  clear: both;
  width: 100%;
  background-image: url("../img/ft.jpg");
  background-size: cover;
  min-height: 680px;
  background-repeat: no-repeat;
  position: relative;
}
.ft_wrap{
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: #000;
  opacity: 0.7;
  padding-top: 40px;
  padding-left: 60px;
  bottom: 0px;
}
.ft_wrap p{
  color: #fff;
  opacity: none;
  font-family: 'medium';
  line-height: 25px;
  font-size: 14px;
}
