body{
  overflow-x: hidden;
}
#header {
  position: fixed;
  width: 100%;
  height: 180px;
  z-index: 999;
  background-color: #000;
  opacity: 0.9;
  box-sizing:border-box;
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
}
#header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 80%;
}
#header h1 {
  text-align: center;
}
.navigation{
  width: 75%;
  margin: 0 auto;
}
.navigation li {
  display: inline-block;
  margin-top: 50px;
}
.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'regular';
  font-size: 18px;
  margin-left: 40px;
  text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
  color: #fff;
}
#container{
  width: 100%;
  padding-top: 150px;
}
.subcont{
  width: 71.5%;
  margin: 0 auto;
  padding-top: 100px;
}
.subcont img{
  width: 405px;
  height: auto;
}
.hideme{
  float: left;
  margin: 15px 10px 15px;
  opacity:0;
  margin-top:-100px;
  max-width:100%;
}
#ft{
  clear: both;
  width: 100%;
  padding-top: 150px;
}
.ft_wrap{
  width: 100%;
  height: 140px;
  background-color: #000;
  opacity: 0.7;
  padding-top: 40px;
  padding-left: 60px;
}
.ft_wrap p{
  color: #fff;
  opacity: none;
  font-family: 'medium';
  line-height: 25px;
  font-size: 14px;
}
