/*reponsive layout*/
@media screen and (min-width: 1366px) and (max-width: 1599px) {
  .navigation {
    width: 78%;
  }

  .subcont {
    width: 75%;
  }

  .subcont img {
    width: 330px;
  }

  .hideme {
    margin: 10px 5px 5px;
  }

  #ft {
    padding-top: 150px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  #header {
    height: 160px;
  }
  #header .header-content {
    padding: 20px 0;
  }
  #header.fixed .header-content {
    padding: 15px 0;
  }
  .logo img {
    width: auto;
    height: 25px;
  }
  .navigation li {
    margin-top: 60px;
  }
  .navigation a {
    font-size: 17px;
    margin-left: 30px;
  }
  #container {
    padding-top: 200px;
  }
  .gnb {
    height: 45px;
  }
  .subcont {
    padding-top: 70px;
  }
  .subcont {
    width: 80%;
  }
  .subcont img {
    width: 330px;
  }
  .hideme {
    margin: 10px 5px 5px;
  }

  .ft_wrap {
    height: 110px;
    padding-top: 30px;
  }

  .ft_wrap p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  #header {
    height: 145px;
  }
  #header .header-content {
    padding: 20px 0;
  }
  #header.fixed .header-content {
    padding: 10px 0;
  }
  .logo img {
    width: auto;
    height: 20px;
  }
  .navigation li {
    margin-top: 55px;
  }
  .navigation a {
    font-size: 15px;
    margin-left: 20px;
  }
  #container {
    padding-top: 170px;
  }
  .gnb {
    width: 85%;
    height: 45px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
  }
  .subcont {
    padding-top: 70px;
  }
  .subcont {
    width: 84%;
    padding-top: 50px;
  }
  .subcont img {
    width: 280px;
  }
  .hideme {
    margin: 5px 3px 3px;
  }
  #ft{
    padding-top: 90px;
  }
  .ft_wrap {
    height: 120px;
    padding-top: 30px;
    padding-left: 50px;
  }
  .ft_wrap p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1023px){
  #header{
    height: 145px;
  }
  #header .header-content{
    padding: 17px 0;
  }
  #header.fixed .header-content{
    padding: 10px 0;
  }
  .logo img{
    width: auto;
    height: 20px;
  }
  .navigation{
    width: 80%;
  }
  .navigation li{
    margin-top: 55px;
  }
  .navigation a{
    font-size: 15px;
    margin-left: 15px;
  }
  #container {
    padding-top: 170px;
  }
  .gnb {
    width: 90%;
    height: 45px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
    margin-right: 30px;
  }
  .subcont {
    padding-top: 70px;
  }
  .subcont {
    width: 90%;
    padding-top: 50px;
  }
  .subcont img {
    width: 280px;
  }
  .hideme {
    margin: 5px 3px 3px;
  }
  #ft{
    padding-top: 90px;
  }
  .ft_wrap{
    height: 120px;
    padding-top: 20px;
    padding-left: 50px;
  }
  .ft_wrap p{
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (min-width: 780px) and (max-width: 959px){
  #header{
    height: 140px;
  }
  #header .header-content{
    padding: 10px 0;
    width: 100%;
  }
  #header.fixed .header-content{
    padding: 5px 0;
  }
  .logo img{
    width: auto;
    height: 20px;
  }
  .navigation li{
    margin-top: 60px;
  }
  .navigation a{
    font-size: 15px;
    margin-left: 15px;
  }
  #container {
    padding-top: 160px;
  }
  .gnb {
    width: 90%;
    height: 45px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
    margin-right: 25px;
  }
  .subcont {
    padding-top: 0px;
  }
  .subcont {
    width: 85%;
    padding-top: 20px;
  }
  .subcont img {
    width: 320px;
  }
  .hideme {
    margin: 5px 3px 3px;
    margin-top: 0px;
  }
  #ft{
    padding-top: 90px;
  }
  .ft_wrap{
    top: 0px;
    opacity: 1;
    background-color: #222;
    padding-left: 40px;
  }
}
@media screen and (min-width: 640px) and (max-width: 779px){
  #header{
    height: 110px;
  }
  #header .header-content{
    padding: 10px 0;
    width: 100%;
  }
  #header.fixed .header-content{
    padding: 5px 0;
  }
  .logo img{
    width: auto;
    height: 20px;
  }
  .navigation{
    width: 95%;
  }
  .navigation li{
    margin-top: 20px;
  }
  .navigation a{
    font-size: 15px;
    margin-left: 17px;
  }
  #container {
    padding-top: 130px;
  }
  .gnb {
    width: 90%;
    height: 45px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
    margin-right: 25px;
  }
  .subcont {
    padding-top: 0px;
  }
  .subcont {
    width: 90%;
    padding-top: 20px;
  }
  .subcont img {
    width: 280px;
  }
  .hideme {
    margin: 5px 3px 3px;
    margin-top: 0px;
  }
  #ft{
    padding-top: 90px;
  }
  .ft_wrap{
    top: 0px;
    height: 120px;
    opacity: 1;
    background-color: #222;
    padding-left: 40px;
    padding-top: 30px;
  }
  .ft_wrap p{
    font-size: 11px;
    line-height: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px){
  #header{
    height: 70px;
  }
  #header .header-content{
    padding: 10px 0;
    width: 80%;
  }
  #header.fixed .header-content{
    padding: 5px 0;
  }
  .logo img{
    width: auto;
    height: 20px;
  }
  .navigation{
    width: 100%;
  }
  .navigation li{
    display: none;
  }
  #container {
    width: 100%;
    padding-top: 90px;
    height: 500px;
  }
  .gnb {
    width: 90%;
    height: 40px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
    margin-right: 25px;
  }
  .gnb li:nth-child(6){
    margin-right: 0px;
  }
  .subcont {
    padding-top: 0px;
  }
  .subcont {
    width: 68.7%;
    padding-top: 20px;
  }
  .subcont img {
    width: 320px;
  }
  .hideme {
    margin: 5px 3px 3px;
    margin-top: 0px;
  }
  #ft{
    padding-top: 40px;
  }
  .ft_wrap{
    top: 0px;
    height: 120px;
    opacity: 1;
    background-color: #222;
    padding-left: 20px;
    padding-top: 20px;
  }
  .ft_wrap p{
    width: 85%;
    font-size: 9px;
    line-height: 20px;
    width: 85%;
  }
}
@media screen and (max-width: 479px){
  #header{
    height: 65px;
  }
  #header .header-content{
    padding: 10px 0;
    width: 100%;
  }
  #header.fixed .header-content{
    padding: 5px 0;
  }
  .logo img{
    width: auto;
    height: 20px;
  }
  .navigation{
    width: 100%;
  }
  .navigation li{
    display: none;
  }
  #container {
    width: 100%;
    padding-top: 90px;
    height: 500px;
  }
  .gnb {
    width: 90%;
    height: 40px;
  }
  .gnb li{
    font-size: 14px;
  }
  .gnb li:nth-child(1){
    font-size: 16px;
    margin-right: 25px;
  }
  .gnb li:nth-child(6){
    margin-right: 0px;
  }
  .subcont {
    padding-top: 0px;
  }
  .subcont {
    width: 68.7%;
    padding-top: 20px;
  }
  .subcont img {
    width: 320px;
  }
  .hideme {
    margin: 5px 3px 3px;
    margin-top: 0px;
  }
  #ft{
    padding-top: 40px;
  }
  .ft_wrap{
    top: 0px;
    height: 120px;
    opacity: 1;
    background-color: #222;
    padding-left: 20px;
    padding-top: 20px;
  }
  .ft_wrap p{
    width: 85%;
    font-size: 9px;
    line-height: 20px;
    width: 85%;
  }
}
